<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/media_queries.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js'></script>
    <title>Chat | opendoro</title>
</head>
<body>
    <input id="hidden-username" type="hidden" value="<%= username %>">
    <div class="chat-container">
        <div class="chat-header">
            <div class="logo">
                opendoro
            </div>
            <div class="back-btn">
                <a href="/">Back</a>
            </div>
        </div>
        <div class="chat-panel">

            <div class="users-and-chat-container">
                <div class="users-pnl-container">
                    <div class="users-pnl-header">
                        Users: <span id="user-count"></span>
                    </div>
                    <div id="users-pnl">

                    </div>
                </div>
                
                <div class="msg-pnl-container">
                    <div class="msg-pnl-header">
                        Chat:
                    </div>
                    <div class="msg-pnl">
                        <!-- Chat messages goes here -->
                    </div>
                </div>
                
            </div>
            

            <label for="message"> Message: </label>
            <input type="text" name="message" id="message">
            
            <button id="send-msg">Send</button>
        </div>
        <div class="for-evening-out-center-login-center">
            <div class="logo">
                opendoro
            </div>
            <div class="back-btn">
                Back
            </div>
        </div>
    </div>
    <script src='js/chat.js'></script>
</body>
</html>