<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/pomodoro_container.css">
    <link rel="stylesheet" href="css/media_queries.css">

    <script src="https://kit.fontawesome.com/3c2f28275f.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opendoro</title>
</head>
<body>
    <% if (errMsg.length != 0) { %>
        <%- include('_msg/_error-msg', {msg: errMsg}); %>
    <% } if (succMsg.length != 0) { %>
        <%- include('_msg/_success-msg', {msg: succMsg}); %>
    <% } %>
    <div class="header">
        <div class="logo">
            opendoro
        </div>
        <div>
            <ul>
                <% if (authenticated === false) {%>
                    <%- include('_index/_unauth-nav'); %>
                <% } else { %>
                    <%- include('_index/_auth-nav', {username: username}); %>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="pomodoro-container">
            <div class="countdown-area">
                <div id="countdown-watch" class="countdown-watch-study">
                    25:00
                </div>
                <button id="start-timer-btn" class='btn'>Start</button>
                <button id="stop-timer-btn" class='btn-disabled'>Stop</button>
            </div>
            <div class="todolist-area">
                <h1>To-do:</h1>
                <hr>
                <div id="todos">
                    
                </div>
                <div id="add-todo">
                    <input placeholder="enter what to do" id="add-todo-input" type="text">
                    <button id="add-todo-btn" class="btn">Add</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/todo.js"></script>
    <script src="js/timer.js"></script>
</body>
</html>