<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/login_style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | opendoro</title>
</head>
<body>
    <div class="container">
        <div class="login-header">
            <div class="logo">
                opendoro
            </div>
            <div class="back-btn">
                <a href="/">Back</a>
            </div>
        </div>
        <div class="login">
            <form action="/register" method="POST">
                <label for="email"> Email: </label>
                <input type="email" name="email" id="email" required>

                <label for="username"> Username: </label>
                <input type="text" name="username" id="username" required>

                <label for="password"> Password: </label>
                <input type="password" name="password" id="password" required>
                
                <input type="submit" value="Register" name="register-submit">
            </form>
        </div>
        <div class="for-evening-out-center-login-center">
            <div class="logo">
                opendoro
            </div>
            <div class="back-btn">
                Back
            </div>
        </div>
    </div>
</body>
</html>