<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | opendoro</title>
</head>
<body>
    logged in<br>
    <a href="/chat">Go to chat</a>
    <form action="/dashboard" method="POST">
        <input type="submit" name='log-out' value="Log out">
    </form>
</body>
</html>