.pomodoro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
}

.countdown-watch-study {
    font-size: 5rem;
    font-weight: bold;
    color: red;
}

.countdown-watch-break {
    font-size: 5rem;
    font-weight: bold;
    color: #3464cc;
}

.countdown-area {
    width: 45%;
    text-align: center;
}

.todolist-area {
    width: 45%;
}

.btn {
    border-radius: 0.3em;
    font-family: inherit;
    font-size: 1.5rem;
    margin: 0.3em 1em;
    padding: 0em 2em;
    border: 0px;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0px 5px #4f6480;
}

.btn-disabled {
    border-radius: 0.3em;
    font-family: inherit;
    font-size: 1.5rem;
    margin: 0.3em 1em;
    padding: 0em 2em;
    border: 0px;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0px 3px #efefef, 0px 5px #4f6480, inset 0px 2px #f0cda8; 
}

#add-todo {
    display: flex;
    justify-content: space-between;
}

#add-todo-input {
    width: 100%;
    border: 0;
    margin: 0.3em 0;
    border-radius: 0.3em;
    font-family: inherit;
    font-size: 1.5rem;
    box-shadow: 0px 5px #4f6480;
}

#add-todo-btn {
}

.todo-item {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.todo-checkbox {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.todo-text {
    color: black;
    font-size: 1.5rem;
    width: 80%;
    font-weight: bolder;
    word-wrap: break-word;
}

.todo-delete {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

.todo-delete:hover {
    color: red;
}


